<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IT and NON-IT Selection Process</title>
    <style media="screen">
    body{
      margin: 0px;
      background-color:	#7FFFD4;
    }
    table{
      background-color:#FFF0F5 ;
      margin: 40px;

      font-size: 20px;
      padding: 20px;
      border-bottom-left-radius: 25px;

    }
      td{
        border: 1px solid black;
        border-radius: 3px;

      }
      td.hover{
        background-color:yellow;
      }
      table{
        box-shadow: 10px 10px limegreen;
      }
th{
  background-color: lightpink;
}
</style>
    </style>
  </head>
  <body>
    <div>

    </div>
    <table>
      <thead>
        <tr>
          <th colspan="2">
            IT SELECTION CRITERIA
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<it.length;i++){ %>
          <tr>
            <td><%= it[i].round_name %></td><td><%= it[i].rouond_discription %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">
            NON-IT SELECTION CRITERIA
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<nonit.length; i++){%>
          <tr>
            <td><%= nonit[i].round_name %></td><td><%= nonit[i].rouond_discription %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
