<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IT and NON-IT Selection Process</title>
    <script type="text/javascript">
      <%
      var it = [];
      var nonit = [];
       for (var i = 0; i < data.length; i++) {
        if (data[i].domain == "IT") {
          it.push(data[i]);
        }
        if (data[i].domain == "Non-IT") {
          nonit.push(data[i]);
        }
      }%>
    </script>
  </head>
  <body>
  <p>
    <%=it%>hi
  </p><br>
  <p>
    <%=nonit%>
  </p>
  </body>
</html>
