<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IT and NON-IT Selection Process</title>
    <style media="screen">
    table{
      background-color: #ffeb87;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px;
    }
      td{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>
            IT Selection Criteria
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<it.length;i++){ %>
          <tr>
            <td><%= it[i].round_name %></td><td><%= it[i].round_discription %></td>
          </tr>
        <%}%>
      </tbody>
    </table><br><br>
    <table>
      <thead>
        <tr>
          <th>
            NON-IT Selection Criteria
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<nonit.length; i++){%>
          <tr>
            <td><%= nonit[i].round_name %></td><td><%= nonit[i].round_discription %></td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
